oauth2
tlslite
gdata
--editable git+ssh://git@github.com/hudora/CentralServices#egg=cs
--editable git+ssh://git@github.com/hudora/huSoftM#egg=huSoftM
--editable git+ssh://git@github.com/hudora/hudoratools#egg=hudoratools
