oauth2
tlslite
git+ssh://git@github.com/hudora/huSoftM>=0.62
-e git+ssh://git@github.com/hudora/CentralServices#egg=cs
-e git+ssh://git@github.com/hudora/huSoftM#egg=huSoftM
-e git+ssh://git@github.com/hudora/hudoratools#egg=hudoratools
